@model IEnumerable<ContactsManagerWeb.Models.DTO.ContactsDTO>
<br />
<div class="container p-4 corder">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary"> Contacts List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Contacts" asp-action="CreateContact" class="btn btn-outline-primary"><i class="bi bi-person-plus-fill"></i> Create New Contact </a>
        </div>

    </div>
    <table class="table" width="100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Address
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.Address</td>
                    <td>
                        <a asp-controller="Contacts" asp-action="UpdateContact" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Contacts" asp-action="DeleteContact" class="btn btn-danger"><i class="bi bi-person-dash-fill"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

